# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
*.o
*.a

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# IDE
*.swp
*.swo
*~
.idea/
.vscode/

# Swift Package Manager
.build/
Packages/

# Environment
.env
*.pem
